.gallery {
  padding: 65px 0 0 0;
  margin: auto;
  width: calc(100% - 30px);

  @media screen and (min-width: 768px) {
    width: calc(100% - 147px);
    padding: 85px 0 0 0;
  }
}

.gallery-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-list__item {
  display: flex;
  contain: content;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 10px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 12px);
  }
}

.gallery-list__item:hover {
  box-shadow: 0 0 15px 4px rgba(3, 27, 62, 0.782);
}

.gallery__image {
  transition: transform 700ms ease-out;
  @media screen and (min-width: 768px) {
    height: 154px;
  }

  @media screen and (min-width: 1200px) {
    height: 370px;
  }
}

.gallery__image:hover {
  transform: scale(1.15);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;

  @media screen and (min-width: 768px) {
    padding: 7px;
  }

  @media screen and (min-width: 1200px) {
    padding: 15px;
  }
}
.info-list {
  text-align: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 700;
  color: black;

  @media screen and (min-width: 768px) {
    font-size: 10px;
    font-weight: 700;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.span {
  font-weight: 100;
}

.load-more {
  margin: 20px auto 35px;
  display: block;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: x-large;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(22, 94, 94);
  touch-action: manipulation;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.load-more:hover,
.load-more :focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.load-more:active {
  color: black;
  background-color: #b1c05b81;
}
.hidden {
  display: none;
}

.text-element {
  margin-bottom: 0;
  padding: 10px 0 10px 0;
  background: linear-gradient(to right, rgb(64, 68, 179), rgb(234, 21, 216));
}

.title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
  color: rgb(236, 236, 236);
}

.btn-to-top {
  position: fixed;
  top: 1.5vh;
  right: 3.2vw;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b951c9;
  // background: transparent;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  @media screen and (min-width: 768px) {
    top: 2.8vh;
    right: 3vw;
  }

  @media screen and (min-width: 1200px) {
    top: 2.5vh;
    right: 1.5vw;
  }
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: #832b88;
  transition: all 0.3s;
}
